<h1>Hunted Monsters Index</h1>

<% @monsters.each do |monster| %>
  <hr>
  <h3><%= monster.name %></h3>
  <p>Health: <%= monster.health %></p>
  <p>Level: <%= monster.level %></p>
  <p>Soul Size: <%= monster.soul_size %></p>
  <p>Dead?: <%= monster.dead %></p>
  <p>Loot: <%= monster.loot %></p>
  <p><%= link_to "Edit", "/monsters/#{monster.id}/edit" %> | 
  <%= link_to "Delete", "/monsters/#{monster.id}", method: :delete %></p>
<% end %>
