<h1><%= @monster.name %></h1>
<p>Health: <%= @monster.health %></p>
<p>Level: <%= @monster.level %></p>
<p>Soul Size: <%= @monster.soul_size %></p>
<p>Dead?: <%= @monster.dead %></p>
<p>Loot: <%= @monster.loot %></p>