<h1>Monsters of <%= @dungeon.name %></h1>
<a href="<%= "/dungeons/#{@dungeon.id}/monsters/new" %>">Create Monster</a> |
<%= link_to "Sort Monsters Alphabetically", "/dungeons/#{@dungeon.id}/monsters?sort=alpha" %> |
<%= form_with url: "/dungeons/#{@dungeon.id}/monsters?sort=threshold", method: :get, local: true do |form|  %>
  Only return Monsters at more than
  <%= form.number_field :threshold %>
  <%= form.select :attribute, ['health', 'level'] %>
  <%= form.hidden_field :sort, value: 'threshold' %>
  <%= form.submit "Confirm" %>
<% end %>
<% @monsters.each do |monster| %>
  <hr>
  <h3><%= monster.name %></h3>
  <p>Health: <%= monster.health %></p>
  <p>Level: <%= monster.level %></p>
  <p>Soul Size: <%= monster.soul_size %></p>
  <p>Dead?: <%= monster.dead %></p>
  <p>Loot: <%= monster.loot %></p>
  <p><%= link_to "Edit", "/monsters/#{monster.id}/edit" %> | 
  <%= link_to "Delete", "/monsters/#{monster.id}", method: :delete %></p>
<% end %>